﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h2>@ViewData["Message"]</h2>

<address>

</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
